.card {
  height: 440px;
  width: 400px;
  display: flex;
  margin: auto;
  align-items: center;
}
  
.text-blue {
  color: #01B2EE;  
}

.parent {
  position: relative; 
  display: inline-block;
  background-size: cover;
  background-position: center center;
}

.parent img {
  display: block;
}

.parent:after {
  content: ''; 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16rem;
  background: rgba(0,0,0,0);
  transition: 0.3s;
}

.parent:hover:after {
  background: rgba(1,178,238,.9); 
}

.parent:hover .child {
  opacity: 1;
}

.child {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5; 
  opacity: 0;
  transition: 0.2s;
}
